// NORMALIZE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 100%;
  position: relative;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  .main{
    flex-grow: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
