// variables
$mainBgColor: #12171a;
$mainButtonColor: #ff6464;
$whiteColor: #fff;
$manTextColor: #a1a1a1;
$cardTitleColor: #40ABE1;
$darkGray: rgba(169, 174, 177, 0.2);
$lightGray: rgba(169, 174, 177, 0.05) rgba(169, 174, 177, 0.5);
