// MAIN
@import "./mixins";
@import "./normalize";
@import "./variables";

/* Start here PORTFOLIO page style*/

.portfolio-page {
  @include pageBanner();
}

.portfolio-page__after {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 100%);
  @include adaptive-value("width", 174, 92);
  @media (max-width: 1350px) {
    transform: translate(0%, 100%);
  }
}
.portfolio-page__items {
  margin-bottom: 140px;
}
